<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title | Dispatch System</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="~/dist\css\adminlte.min.css">

	<style type="text/css">
		.panel-divider {
			text-align: left;
			border: 1px solid #979faf;
			line-height: 0.1em;
			margin-bottom: 1.5rem !important;
			border-radius: 0.25rem
		}

			.panel-divider > span {
				background: #fff;
				padding: 0 1rem;
				margin-left: 1rem !important;
				font-size: 1.25rem;
				font-weight: bold;
			}

			.panel-divider > div.row {
				margin: 1rem 2rem 0rem 2rem !important;
			}

		.form-group {
			margin-bottom: 0rem !important;
		}

		.table td, .table th {
			padding: 0.35rem !important;
		}

		.expandable-body .list-unstyled > li:not(:first-child) {
			border-top: 1px solid #dee2e6;
		}

		.expandable-body .list-unstyled ul.ul_columns_4, .expandable-body .list-unstyled ol.ul_columns_4 {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 5px;
		}

			.expandable-body .list-unstyled ul.ul_columns_4 li > span,
			.expandable-body .list-unstyled ol.ul_columns_4 li > span {
				display: block; /* span needs to behave like block */
				grid-column: 1 / -1; /* span full width of grid */
				padding-left: 20px;
				margin-top: 5px;
			}

		@@media print {

			.printButton, .closeButton {
				display: none !important;
			}

			.border-0 {
				border: 0 !important;
			}

			.expandable-body .list-unstyled ul.ul_columns_4, .expandable-body .list-unstyled ol.ul_columns_4 {
				grid-template-columns: repeat(5, 1fr);
			}

				.expandable-body .list-unstyled ul.ul_columns_4 li > span,
				.expandable-body .list-unstyled ol.ul_columns_4 li > span {
					display: none;
				}
		}

	</style>

</head>
<body class="wrapper">
	<section class="invoice border-0">
		@RenderBody()
	</section>
	<script>
		window.addEventListener("load", window.print());
	</script>
</body>
</html>
