
<!DOCTYPE html>

<head>
    <title></title>
</head>

<body>

    <table>
        <tr>
            <td>

                <br />

                <br />

                <span style="font-family:Arial;font-size:10pt">
                    <label>
                        Dear <span>{UserName}</span>,
                        <br /><br />
                        Your Vendor credential Information for QR Code Management system is as below.
                    </label>
                    <br /><br />
                    <label> Vendor Code : <span>{VendorCode}</span></label>
                    <br /><br />
                    <label> Vendor Site : <span>{VendorSite} </span></label>
                    <br /><br />
                    <label> Password : <span>{Password} </span></label>
                    <br /><br />
                    <label> This is auto generated mail please do not reply on this message.</label>
                    <br /><br />
                    Thanks<br />
                </span>

            </td>

        </tr>

    </table>

</body>

