@model ResponseModel<QRCodeGeneration>

@{
    ViewData["Title"] = "Vendor PO vs QR Code Gen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Url_RootToController = Url.Content("~/") + ViewContext.RouteData.Values["area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString();
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Vendor PO vs QR Code Generation Report</h1>
            </div>

        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">

            <div class="card-body">

                <div class="panel-divider">
                    <span>Search QR Code Requests</span>
                    <div class="row no-gutters p-0 m-0">
                        <div class="col-12 row no-gutters">
                            <div class="form-group col-md-3 mx-3">
                                <label class="col-form-label" style="align-content:start">Plant</label>
                                <input type="hidden" class="form-control form-control-sm" id="PlantId" value="@Model.Obj.PlantId">
                                <input type="text" class="form-control form-control-sm" id="PlantName" value="@Model.Obj.PlantName" autocomplete="off" readonly>
                            </div>
                            <div class="form-group col-md-3 mx-3">
                                <label class="col-form-label" style="align-content:start">PO Number</label>
                                <input type="text" class="form-control form-control-sm isNumberKey" id="PoNo" autocomplete="off">
                            </div>
                        </div>

                        @* <div class="col-12 no-gutters">
                            <div class="form-group mx-3 text-center">
                                <label class="col-form-label text-right" style="align-content:start">&nbsp;</label>

                                <button type="button" class="btn btn-info btn-md pull-right mr-2" onclick="fnLoadTableData()"> Search </button>
                                <button type="button" class="btn btn-danger btn-md pull-right mr-2" onclick="fnClear()"> Clear </button>
                            </div>
                        </div> *@
                        <div class="col-12 no-gutters my-3">
                            <div class="form-group mx-3 text-center">
                                <label class="col-form-label text-right" style="align-content:start">&nbsp;</label>

                                <button type="button" class="btn btn-info btn-md pull-right mr-2" onclick="fnExecute_Report(false)"> Search </button>
                                <button type="button" class="btn btn-danger btn-md pull-right mr-2" onclick="fnClear()"> Clear </button>
                                <button type="button" class="btn btn-primary btn-md pull-right mr-2" onclick="fnExecute_Report(true)"> Print </button>
                                <button type="button" class="btn btn-success btn-md pull-right mr-2" id="btnExport"> Export </button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-divider">
                    <span>Details</span>
                    <div class="row no-gooters">
                        <div class="col-12 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
                            <div class="card-body py-1 px-0" id="div_DataTable"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{

    <script type="text/javascript">


        function fnClear() {
            $('#PoNo').val("");
            $('#div_DataTable').html('');
        }

        $(function () { });

        $("#btnExport").click(function () {
            $("#tblmain").table2excel({
                filename: "VendorPOvsQRCodeGen.xls"
            });
            return false;
        });


        function fnExecute_Report($isPrint) {

            $('#div_DataTable').html('');

            var PO_Number = $('#PoNo').val();

            // if ((typeof Truck_No != 'undefined' && Truck_No != null && Truck_No.length > 0)
            //     || (typeof FromDate != 'undefined' && FromDate != null && FromDate.length > 0)
            //     || (typeof ToDate != 'undefined' && ToDate != null && ToDate.length > 0)
            // ) {

            var $url = '@Url.Action("GetData", "VendorPoVsQrCodeGen", new { area = "Admin" })?PO_Number=' + PO_Number + '&isPrint=' + $isPrint;

            if ($isPrint == true) {
                var printWindow = window.open($url, '_blank');

                if (printWindow) {
                    printWindow.onload = function () {
                        printWindow.print();
                    };
                }
            }
            else {

                ShowLoader(true);

                $.ajax({
                    type: "GET",
                    url: $url,
                    data: null,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {

                        setTimeout(function () {

                            $('#div_DataTable').html(response);

                            try { fnLoadCommonTable('#div_DataTable .table_Common'); } catch { }

                            ShowLoader(false);

                        }, 1000);

                    },
                    failure: function (response) {
                        ShowLoader(false);
                        CommonAlert_Error(null);
                    },
                    error: function (response) {
                        ShowLoader(false);
                        CommonAlert_Error(null);
                    }
                });
            }
            // }
            // else
            //ShowLoader(false);
        }

        // function fnLoadTableData() {
        //     if ($.fn.DataTable.isDataTable('#dataTable_PoDetails')) {
        //         $('#dataTable_PoDetails').DataTable().destroy();
        //     }

        //     if ($('#PoNo').val() != null && $('#PoNo').val() != '') {
        //         subHeading = 'PO No: ' + $('#PoNo').val();
        //     }

        //     dataTableMain = $("#dataTable_PoDetails")
        //         .DataTable({
        //             "destroy": true,
        //             "pageLength": "All", "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        //             "sAjaxSource": "@Url_RootToController/GetData_QrCodeViewSup",
        //             "bServerSide": true,
        //             "bProcessing": true,
        //             "bSearchable": true,
        //             "order": [[0, 'asc']],
        //             "language": { "emptyTable": "No record found.", "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ' },
        //             "fnServerParams": function (aoData) {
        //                 //aoData.push({ "name": "RequestNo", "value": "" + $('#RequestNo').val() });
        //                 aoData.push({ "name": "PoNo", "value": "" + $('#PoNo').val() });
        //                 //aoData.push({ "name": "VendorCode", "value": "" + $('#VendorCode').val() });
        //                 //aoData.push({ "name": "ProductId", "value": "" + $('#SKU option:selected').val() });
        //                 //aoData.push({ "name": "FromDate", "value": "" + $('#FromDate').val() });
        //                 //aoData.push({ "name": "ToDate", "value": "" + $('#ToDate').val() });
        //                 aoData.push({ "name": "Type", "value": "" });
        //             },
        //             "columns": [
        //                 { "title": "PO DATE", "data": "pO_Date_Text", "autoWidth": false, "searchable": true },
        //                 { "title": "SKU NAME", "data": "skuDesc", "autoWidth": true, "searchable": true },
        //                 { "title": "REQUEST NO", "data": "requestNo", "autoWidth": true, "searchable": true },
        //                 { "title": "TOTAL QTY", "data": "totalQty", "autoWidth": true, "searchable": true },
        //                 { "title": "REQUEST QTY", "data": "requestQty", "autoWidth": true, "searchable": true },
        //                 { "title": "REMAIN QTY", "data": "remainQty", "autoWidth": true, "searchable": true },
        //                 { "title": "Created Date", "data": "requestDate_Text", "autoWidth": true, "searchable": true },
        //                 { "title": "NO_OF_FILES ", "data": "nooffiles", "autoWidth": true, "searchable": true },
        //                 //{
        //                 //	"title": "Action", "data": null, "autoWidth": false, "searchable": false, "width": "5%",
        //                 //	"render": function (data, type, row, meta) {
        //                 //		return '<div class="btn-group"><a class="btn btn-info btn-sm btn-flat" href="javascript:void(0);" onclick="fnShow_Modal(\'@Url.Action("Partial_AddEditForm","QRCode", new {  area = "Admin" })?Id=' + data.id + '\', \'View QR Code Requests\', false, \'html\', false)"><span><i class="far fa-edit"></i></span></a></div>';
        //                 //	}
        //                 //}
        //             ],
        //             "dom": "<'row'<'col-sm-6 mb-3'B>>" +
        //                 "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        //                 "<'row'<'col-sm-12'tr>>" +
        //                 "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        //             "buttons": [
        //                 // 	{
        //                 // 	extend: "csv",
        //                 // 	className: "btn-flat btn-info mx-2 px-3",
        //                 // 	titleAttr: 'Export in CSV',
        //                 // 	text: 'CSV',
        //                 // 	filename: 'QR Code Requests List - Vendor PO',
        //                 // 	init: function (api, node, config) { $(node).removeClass('btn-default') }
        //                 // },
        //                 // {
        //                 // 	extend: "excel",
        //                 // 	className: "btn-flat btn-success mx-2 px-3",
        //                 // 	titleAttr: 'Export in Excel',
        //                 // 	text: 'Excel',
        //                 // 	filename: 'QR Code Requests List - Vendor PO',
        //                 // 	init: function (api, node, config) { $(node).removeClass('btn-default') }
        //                 // },
        //                 {
        //                     extend: "pdfHtml5",
        //                     className: "btn-flat btn-danger mx-2 px-3",
        //                     titleAttr: 'Export in PDF',
        //                     text: 'PDF',
        //                     pageSize: 'LEGAL',
        //                     filename: 'Vendor PO vs QR Code Gen List',
        //                     init: function (api, node, config) { $(node).removeClass('btn-default') },
        //                     customize: function (doc) {
        //                         doc.defaultStyle.fontSize = 10;
        //                         doc.pageMargins = [5, 10, 5, 10]; // Adjust margins
        //                         doc.pageOrientation = 'Portrait'; // Set orientation
        //                         doc.content.splice(1, 0, {
        //                             text: subHeading,
        //                             style: 'subheader'
        //                         });
        //                         doc.styles.subheader = {
        //                             fontSize: 12,
        //                             italics: true,
        //                             margin: [10, 0, 0, 10]
        //                         };
        //                     }
        //                 }]
        //         });

        // }
    </script>
}

