@{
    ViewData["Title"] = "Pallate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Url_RootToController = Url.Content("~/") + ViewContext.RouteData.Values["area"].ToString() + "/" + ViewContext.RouteData.Values["Controller"].ToString();
}


<section class="content-header bg-gradient-green" style="border-radius: 0.25rem">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="font-weight-bold">Pallate Load</h1>
            </div>
        </div>
    </div>
</section>

<section class="content p-0">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-12 card">
                <div class="card-body pb-0">
                    <div class="panel-divider">
                        <span>Search Details</span>
                        <div class="row no-gutters p-0 m-0">
                            <div class="col-10 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
                                <div class="form-horizontal">
                                    <div class="card-body py-1 px-0">
                                        <div class="form-group row">
                                            <label for="inputSearch" class="col-sm-2 col-form-label">DI Number</label>
                                            <div class="col-sm-4">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" id="inputSearch" class="form-control form-control-sm">
                                                    <span class="input-group-append ml-2">
                                                        <button type="button" class="btn btn-info btn-flat mr-2" onclick="GetDI(this, 'S')">Search</button>
                                                        <button type="button" class="btn btn-info btn-flat b-radius-0" onclick="GetDI(this, 'V')">View DI</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-divider">
                        <span>MDA Details</span>
                        <div class="row no-gutters p-0 m-0">
                            <div class="col-12 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
                                <div class="card-body py-1 px-0">

                                    <div class="row col-12 w-100 mt-1 mb-2">
                                        <h4>DI Number : <label class="col-form-label" id="DI_No"></label></h4>
                                    </div>

                                    <div class="row col-12 w-100">
                                        <table id="table_MDA_Dtls" class="table table-bordered table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th hidden width="0%">Gate Id</th>
                                                    <th hidden width="0%">MDA Id</th>
                                                    <th hidden width="0%">DI No</th>
                                                    <th>Vehicle Number</th>
                                                    <th>MDA Number</th>
                                                    <th>MDA Date</th>
                                                    <th>Transporter</th>
                                                    <th>Driver Name</th>
                                                    <th>Contact No.</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-divider d-none" id="divPallate">
                        <span>Loaded Pallate Details</span>
                        <div class="row no-gutters p-0 m-0">
                            <div class="col-12 card card-primary p-0 m-0 shadow-none" style="margin: 0rem !important;">
                                <div class="card-body py-1 px-0">

                                    <div class="row w-100 mt-1 mb-2">
                                        <h5 class="col-3">DI Number : <label class="col-form-label" id="Pallate_DI_No"></label></h5>
                                        <h5 class="col-3">MDA Number : <label class="col-form-label" id="Pallate_MDA_No"></label></h5>
                                        <h5 class="col-3">Vehicle Number : <label class="col-form-label" id="Pallate_Vehicle_No"></label></h5>
                                    </div>
                                    
                                    <div class="row w-100 mt-1 mb-2">
                                        <h5 class="col-3">Expected Qty (Shipper): <label class="col-form-label" id="Expected_Qty_Shipper"></label></h5>
                                        <h5 class="col-3">Loaded Qty (Shipper): <label class="col-form-label" id="Loaded_Qty_Shipper"></label></h5>
                                    </div>

                                    <div class="row w-100 mt-1 mb-2">
                                        <h5 class="col-3">Expected Qty (Bottle): <label class="col-form-label" id="Expected_Qty_Bottle"></label></h5>
                                        <h5 class="col-3">Loaded Qty (Bottle): <label class="col-form-label" id="Loaded_Qty_Bottle"></label></h5>
                                    </div>

                                    <div class="row col-12 w-100 d-flex flex-row-reverse">
                                        <button id="btnAdd_Pallate" type="button" class="btn btn-info btn-flat col-2" onclick="Load_Pallate()"> View Unload Pallate(s)</button>
                                    </div>

                                    <div class="row col-12 w-100">
                                        <table id="table_Pallate_Loaded" class="table table-bordered table-striped w-100">
                                            <thead>
                                                <tr>
                                                    <th width="5%">Sr.No.</th>
                                                    <th>Pallate Number</th>
                                                    <th>Pallate Type</th>
                                                    <th width="10%">Shipper Qty</th>
                                                    <th width="10%">Bottle Qty</th>
                                                    <th>Dispatch Mode</th>
                                                    <th width="5%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script type="text/javascript">

        var tableDI = {};
        var tableMDADtls = {};
        var tablePallateDtls = {};
        var tablePallateSelect = {};

        $(document).ready(function () { Load_MDA(null); });

        function GetDI($this, $type) {
            ShowLoader(true);

            fnCancel();

            if ($('#modal-xl').hasClass('show')) $('#modal-xl').hide();

            $.ajax({
                type: "GET",
                url: '@Url_RootToController/GetDI?type=' + $type + '&searchTerm=' + $('#inputSearch').val() + '&id=-2',
                data: null,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {

                    ShowLoader(true);

                    if (typeof response == 'undefined' || response == null || response == 'null' || response.length <= 0) {
                        ShowLoader(false);
                        CommonAlert_Error("No any record(s) found");
                        return false;
                    }

                    if (response.indexOf('{') == 0 || response.indexOf('[') == 0) {

                        setTimeout(function () {

                            try {
                                ShowLoader(false);

                                if (typeof response != 'undefined' && response != null && response.length > 0) {

                                    var selectedData = JSON.parse(response);

                                    if (response.indexOf('[') == 0)
                                        selectedData = JSON.parse(response)[0];

                                    if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0)
                                        Load_MDA(selectedData['di_no']);

                                } else
                                    CommonAlert_Error("No any DI record(s) found");

                            } catch { ShowLoader(false); }


                        }, 1000);

                    }
                    else {

                        $('#modal-xl .modal-body').html('');
                        $('#modal-xl .modal-body').append(response);

                        if ($type == 'S')
                            $('#modal-xl .modal-title').html('Search DI');
                        else
                            $('#modal-xl .modal-title').html('View DI');

                        setTimeout(function () {

                            try {

                                if ($.fn.DataTable.isDataTable('#modal-xl .modal-body #table_Common')) {
                                    $('#modal-xl .modal-body #table_Common').DataTable().destroy();
                                }

                                tableDI = $('#modal-xl .modal-body #table_Common').DataTable({
                                    paging: true,
                                    lengthChange: true,
                                    searching: true,
                                    ordering: true,
                                    info: true,
                                    autoWidth: true,
                                    responsive: true,
                                    pageLength: 10,
                                    lengthMenu: [
                                        [10, 25, 50, -1],
                                        [10, 25, 50, 'All']
                                    ],
                                    fixedColumns: true,
                                    dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                                        "<'row'<'col-sm-12'tr>>" +
                                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
                                });

                                $('#modal-xl .modal-body #table_Common').css('width', '100%');

                                tableDI.on('click', 'tbody tr', function (e) {

                                    $(e.currentTarget.parentElement).find('tr').each(function (i, ez) {
                                        if (i != (e.currentTarget.rowIndex - 1))
                                            $(ez).removeClass('bg-info');
                                    });

                                    fnCancel();

                                    e.currentTarget.classList.toggle('bg-info');

                                });

                            } catch { }

                            if ($('#modal-xl .modal-body #table_Common tbody tr').length > 0)
                                $('#modal-xl').show();
                            else
                                CommonAlert_Error("No any DI record(s) found");

                            ShowLoader(false);

                        }, 1000);

                    }
                },
                failure: function (response) { fnClear_DI(); CommonAlert_Error(null); },
                error: function (response) { fnClear_DI(); CommonAlert_Error(null); }
            });
        }

        function fnSelect_DI() {

            fnCancel();

            if ($('#table_Common tbody tr.bg-info').length <= 0) {
                CommonAlert_Error("Please select one DI Number");
                return false;
            }
            else {
                var selectedData = tableDI.rows('.bg-info').data();

                if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0)
                    Load_MDA(selectedData[0][0]);

                fnClose_Modal();
            }

        }

        function fnClear_DI() {
            $('#modal-xl .modal-body table tbody tr.bg-info').each(function (i, ez) { $(ez).removeClass('bg-info'); });
            try {
                $("td input.dt-select-checkbox").prop('checked', false)
                if (typeof tablePallateSelect != 'undefined' && tablePallateSelect != null)
                    tablePallateSelect.rows().deselect();
                $("th.select-checkbox").removeClass("selected");
            } catch { }
        }

        function fnCancel() {

            $('#table_MDA_Dtls tbody tr').remove();

            $('#table_Pallate_Loaded tbody tr').remove();

        }

        function Load_MDA($DI_No) {

            fnCancel();

            $('#DI_No').html('');

            try {
                if ($.fn.DataTable.isDataTable('#table_MDA_Dtls')) {
                    $('#table_MDA_Dtls').DataTable().destroy();
                }

                tableMDADtls = $('#table_MDA_Dtls').DataTable({
                    paging: true,
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    responsive: true,
                    order: [[3, 'asc'], [2, 'asc']],
                    pageLength: 25,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
                    columnDefs: [{ "targets": 0, "visible": false }, { "targets": 1, "visible": false }, { "targets": 2, "visible": false }],
                    fixedColumns: true,
                    dom: "<'row mt-2'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row mb-2'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
                });

                $('#table_MDA_Dtls' + " thead th.no_sorting").removeClass('sorting');
                $('#table_MDA_Dtls' + " thead th.no_sorting").removeClass('sorting_asc');
                $('#table_MDA_Dtls' + " thead th.no_sorting").removeClass('sorting_desc');

                tableMDADtls.clear().draw();

            } catch { }

            if (typeof $DI_No != 'undefined' && $DI_No != null && $DI_No.length > 0) {

                $('#DI_No').html($DI_No);

                $.ajax({
                    type: "GET",
                    url: '@Url_RootToController/GetMDAPallate?GateInId=0&MDAId=0&DI_No=' + $DI_No,
                    data: null,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {

                        if (typeof response == 'undefined' || response == null || response == 'null' || response.length <= 0) {
                            CommonAlert_Error("No any MDA found");
                            return false;
                        }

                        setTimeout(function () {

                            try {

                                if (typeof response != 'undefined' && response != null && response.length <= 0)
                                    CommonAlert_Error("No any MDA found");
                                else if (typeof response != 'undefined' && response != null && response.length > 0) {
                                    response = JSON.parse(response);
                                    $.each(response["dI_Details"], function (i, item) {
                                        tableMDADtls.row.add([item['gateInOut_Id'], item['id'], item['di_no'], item['vehicle_no'], item['mda_no'], item['mda_dt'], item['tptr_name'], item['driver'], item['mobile_no']]).draw();
                                        $(tableMDADtls.rows(i).nodes().to$()).attr('id', 'tr_' + item['gateInOut_Id'] + '_' + item['id'] + '_' + item['di_no']);
                                    });
                                }

                            } catch { }

                            ShowLoader(false);

                        }, 1000);
                    },
                    failure: function (response) { CommonAlert_Error(null); },
                    error: function (response) { CommonAlert_Error(null); }
                });
            }
        }

        $(document).on('click', '#table_MDA_Dtls tbody tr', function (e) {
            fnSelectMDA(null, null, null);

            $(e.currentTarget.parentElement).find('tr').each(function (i, ez) {
                if (i != (e.currentTarget.rowIndex - 1))
                    $(ez).removeClass('bg-info');
            });

            e.currentTarget.classList.toggle('bg-info');
            // if (e.currentTarget.classList.contains('bg-info') == true)
            //     e.currentTarget.classList.removeClass('bg-info');
            // else
            //     e.currentTarget.classList.addClass('bg-info');

            if (e.currentTarget.classList.contains('bg-info') == true) {
                var selectedData = tableMDADtls.rows('.bg-info').data();
                if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0)
                    fnSelectMDA(selectedData[0][0], selectedData[0][1], selectedData[0][2]);
            }

            return false;
        });

        function fnSelectMDA($GateInId, $MDAId, $DINo) {

            $('#table_Pallate_Loaded tbody tr').remove();

            $('#divPallate').removeClass('d-none');
            $('#divPallate').addClass('d-none');

            $('#Pallate_DI_No').html('');
            $('#Pallate_MDA_No').html('');
            $('#Pallate_Vehicle_No').html('');
            $('#Expected_Qty_Shipper').html('');
            $('#Loaded_Qty_Shipper').html('');
            $('#Expected_Qty_Bottle').html('');
            $('#Loaded_Qty_Bottle').html('');

            $('html, body').animate({ scrollTop: $("#table_Pallate_Loaded").offset().top - 50 }, 1000);

            try {
                if ($.fn.DataTable.isDataTable('#table_Pallate_Loaded')) {
                    $('#table_Pallate_Loaded').DataTable().destroy();
                }

                tablePallateDtls = $('#table_Pallate_Loaded').DataTable({
                    paging: true,
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    responsive: true,
                    order: [[0, 'asc']],
                    pageLength: 25,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
                    fixedColumns: true,
                    dom: "<'row mt-2'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row mb-2'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
                });

                $('#table_MDA_Dtls thead th.no_sorting').removeClass('sorting');
                $('#table_MDA_Dtls thead th.no_sorting').removeClass('sorting_asc');
                $('#table_MDA_Dtls thead th.no_sorting').removeClass('sorting_desc');

                tablePallateDtls.clear().draw();

            } catch { }


            if (typeof $GateInId != 'undefined' && $GateInId != null && $GateInId > 0
                && typeof $MDAId != 'undefined' && $MDAId != null && $MDAId > 0
                && typeof $DINo != 'undefined' && $DINo != null && $DINo.trim().length > 0) {

                ShowLoader(true);

                $.ajax({
                    type: "GET",
                    url: '@Url_RootToController/GetMDAPallate?GateInId=' + $GateInId + '&MDAId=' + $MDAId + '&DI_No=' + $DINo,
                    data: null,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {

                        setTimeout(function () {

                            try {

                                $('#divPallate').removeClass('d-none');

                                if (typeof response != 'undefined' && response != null && response.length > 0) {
                                    response = JSON.parse(response);
                                    debugger;
                                    if (typeof response["dI_Details"] != 'undefined' && response["dI_Details"] != null && response["dI_Details"].length > 0) {
                                        $('#Pallate_DI_No').html(response["dI_Details"][0]['di_no']);
                                        $('#Pallate_MDA_No').html(response["dI_Details"][0]['mda_no']);
                                        $('#Pallate_Vehicle_No').html(response["dI_Details"][0]['vehicle_no']);
                                        $('#Expected_Qty_Shipper').html(response["dI_Details"][0]['expected_Shipper']);
                                        $('#Loaded_Qty_Shipper').html(response["dI_Details"][0]['loaded_Shipper']);
                                        $('#Expected_Qty_Bottle').html(response["dI_Details"][0]['expected_Bottle']);
                                        $('#Loaded_Qty_Bottle').html(response["dI_Details"][0]['loaded_Bottle']);
                                    }

                                    $.each(response["pallate_Details"], function (i, item) {
                                        var btnRow = '<div class="btn-group">' +
                                            '<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete" ' +
                                            'onclick="fnDelete_Confirm(\'@Url_RootToController/DeleteConfirmed?Id=' + item['pallate_Id'] + '&mda_load_id=' + item['id'] + '\'); ">Unload</button></div>';

                                        tablePallateDtls.row.add([item['sr_No'], item['pallate_No'], item['pallate_Type'], item['shipper_Qty'], item['bottle_Qty'], item['dispatch_Mode'], btnRow]).draw();
                                    });
                                }

                            } catch { }

                            ShowLoader(false);

                        }, 1000);
                    },
                    failure: function (response) { ShowLoader(false); CommonAlert_Error(null); },
                    error: function (response) { ShowLoader(false); CommonAlert_Error(null); }
                });
            }
        }

        function fnDelete_Success(response) {
            
            if (typeof response != 'undefined' && response != null && response.statusCode === 1) {
                
                var selectedData = tableMDADtls.rows('.bg-info').data();
                if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0)
                    fnSelectMDA(selectedData[0][0], selectedData[0][1], selectedData[0][2]);
            }

        }



        function Load_Pallate() {

            if ($('#modal-xl').hasClass('show')) $('#modal-xl').hide();

            var selectedData = tableMDADtls.rows('.bg-info').data();

            if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0) {

                var html = '<div class="row col-12 mb-3">' +
                    '<button type="button" class="btn btn-info btn-flat px-3 mr-3" onclick="fnSelect_Pallate()">Select</button>' +
                    '<button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClear_DI()">Clear</button>' +
                    '<button type="button" class="btn btn-danger btn-flat px-3 mr-3" onclick="fnClose_Modal()">Close</button>' +
                    '</div><hr />' +
                    '<div class="row col-12 w-100">' +
                    '<table id="table_Pallate_Select" class="table table-bordered table-striped w-100">';
                '<thead> <tr><th><input class="dt-select-checkbox dt-select-checkbox-all" type="checkbox"></th>' +
                    '<th width="5%">Sr.No.</th>' +
                    '<th>Pallate Number</th>' +
                    '<th>Pallate Type</th>' +
                    '<th width="10%">Shipper Qty</th>' +
                    '<th width="10%">Bottle Qty</th>' +
                    '<th>Dispatch Mode</th>' +
                    '</tr></thead>';

                // html = html + '<tbody>';
                // try {
                //     $.each(response, function (i, item) {
                //         var chbHtml = '<input class="dt-select-checkbox" type="checkbox">';
                //         html = html + '<tr id="tr_' + item['id'] + '"><td>' + chbHtml + '</td><td>' + item['sr_No'] + '</td><td>' + item['pallate_No'] + '</td><td>' + item['pallate_Type_Text'] + '</td><td>' + item['shipper_Qty'] + '</td><td>' + item['dispatch_Mode_Text'] + '</td></tr>';
                //     });
                // } catch { }
                // html = html + '</tbody>';

                html = html + '</table></div>';

                $('#modal-xl .modal-body').html('');
                $('#modal-xl .modal-body').append(html);

                $('#modal-xl .modal-title').html('Select Pallate');

                $('#modal-xl').show();

                if ($.fn.DataTable.isDataTable('#modal-xl .modal-body table#table_Pallate_Select')) {
                    $('#modal-xl .modal-body table#table_Pallate_Select').DataTable().destroy();
                }

                ShowLoader(true);

                tablePallateSelect = $('#modal-xl .modal-body table#table_Pallate_Select').DataTable({
                    destroy: true,
                    sAjaxSource: '@Url_RootToController/Load_Pallate?IsDataTable=true&Id=-2&DI_No=' + selectedData[0][2],
                    bServerSide: true,
                    bProcessing: true,
                    bSearchable: true,
                    bSort: false,
                    paging: true,
                    lengthChange: true,
                    searching: true,
                    ordering: true,
                    info: true,
                    autoWidth: true,
                    responsive: true,
                    order: [[1, 'asc']],
                    pageLength: 50,
                    lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, 'All']],
                    language: { "emptyTable": "No record found.", "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> ' },
                    initComplete: function (settings, json) { ShowLoader(false); },
                    fnServerParams: function (aoData) { },
                    //columnDefs: [{ targets: 0, data: null, defaultContent: '<input class="dt-select-checkbox" type="checkbox">' }],
                    columns: [{
                        "title": '<input class="dt-select-checkbox dt-select-checkbox-all" type="checkbox">', "className": 'text-center',
                        "data": null, "autoWidth": false, "searchable": false, "orderable": false, "width": "5%",
                        "render": function (data, type, row, meta) { return '<input class="dt-select-checkbox" type="checkbox" data-id="' + data['id'] + '">'; }
                    },
                    { "title": "Sr.No.", "data": "sr_No", "autoWidth": true, "searchable": true },
                    { "title": "Pallate Number", "data": "pallate_No", "autoWidth": true, "searchable": true },
                    { "title": "Pallate Type", "data": "pallate_Type_Text", "autoWidth": true, "searchable": true },
                    { "title": "Shipper Qty", "data": "shipper_Qty", "autoWidth": true, "searchable": true },
                    { "title": "Bottle Qty", "data": "bottle_Qty", "autoWidth": true, "searchable": true }
                    ],
                    // fnCreatedRow: function (nRow, aData, iDataIndex) {
                    //     
                    //     $('td:eq(0)', nRow).html('<input class="dt-select-checkbox" type="checkbox">');
                    //     $('td:eq(1)', nRow).html('' + aData['sr_No'] == null ? "" : aData['sr_No']);
                    //     $('td:eq(2)', nRow).html('' + aData['pallate_No'] == null ? "" : aData['pallate_No']);
                    //     $('td:eq(3)', nRow).html('' + aData['pallate_Type_Text'] == null ? "" : aData['pallate_Type_Text']);
                    //     $('td:eq(4)', nRow).html('' + aData['shipper_Qty'] == null ? "" : aData['shipper_Qty']);

                    //     $(nRow).attr('id', aData['requestNo']);
                    // },
                    fixedColumns: true,
                    dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    select: {
                        style: 'multi',
                        selector: 'td:first-child'
                    }
                });

                $('#modal-xl .modal-body table thead th.no_sorting').removeClass('sorting');
                $('#modal-xl .modal-body table thead th.no_sorting').removeClass('sorting_asc');
                $('#modal-xl .modal-body table thead th.no_sorting').removeClass('sorting_desc');

                $('#modal-xl .modal-body table').css('width', '100%');

            }
            else CommonAlert_Error("Please select MDA Details");

        }


        $(document).on('click', '#modal-xl .modal-body table#table_Pallate_Select tbody tr', function (e) {
            e.currentTarget.classList.toggle('bg-info');
            $(e.currentTarget).closest('input[type=checkbox]').prop('checked', e.currentTarget.classList.contains('bg-info'));
            $('#modal-xl .modal-body table#table_Pallate_Select thead tr input[type=checkbox]').prop('checked', false);
        });

        $(document).on('click', '#modal-xl .modal-body table#table_Pallate_Select thead tr input[type=checkbox]', function (e) {
            $('#modal-xl .modal-body table#table_Pallate_Select tbody tr').each(function (i, ez) {
                $(ez).find('input[type=checkbox]').prop('checked', e.currentTarget.checked);
                if (e.currentTarget.checked && !$(ez).hasClass('bg-info'))
                    $(ez).addClass('bg-info');
                else $(ez).removeClass('bg-info');
            });
        });


        function fnSelect_Pallate() {

            var selectedData = tablePallateSelect.rows('.bg-info').data();

            if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0) {

                let formData = new FormData();

                var selectedPallateId = [];

                
                $('#modal-xl .modal-body table#table_Pallate_Select tbody tr').each(function () {
                    if ($(this).find('td:eq(0) input[type=checkbox]').prop('checked'))
                        selectedPallateId.push($(this).find('td:eq(0) input[type=checkbox]').attr('data-id'));
                });

                formData.append("PallateId", selectedPallateId.join());

                selectedData = tableMDADtls.rows('.bg-info').data();

                if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0) {

                    formData.append("GateInId", selectedData[0][0]);
                    formData.append("MDAId", selectedData[0][1]);
                    formData.append("DI_No", selectedData[0][2]);

                    ajaxPost('@Url.Action("Save_Pallate", "Pallate", new { area = "Export" })', formData);

                }

            } else CommonAlert_Error("Please select Pallate(s).");
        }

        function fnSubmitForm_Success(response, type) {
                        
            fnClose_Modal();

            var selectedData = tableMDADtls.rows('.bg-info').data();
            if (typeof selectedData != 'undefined' && selectedData != null && selectedData.length > 0)
                fnSelectMDA(selectedData[0][0], selectedData[0][1], selectedData[0][2]);
        }
    </script>

}